body{
  line-height: 1.5;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1.2;
}
a{
  text-decoration:none;
}
.container{
  max-width: 350px;
  margin: 0 auto;
}
.bg{
  background: #02241A;
  margin-bottom: 1.5rem;
}
.main{
  background-color: #69F0AE;
  padding: 1rem;
  border-radius: 0.5rem;
}
.title{
  color:#02241A;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.25rem;
  padding: 1rem 0;
}
